torch
torchvision
torchaudio
transformers
datasets
tokenizers
numpy
pandas
scikit-learn
nltk
spacy
tqdm
mlflow
optuna
dvc
dvc-gdrive
docker
uvicorn
fastapi
streamlit
# -e .
gdown

pyYAML
tqdm
py7zr
python-box==6.0.2
boto3
mypy-boto3-s3
matplotlib
ensure